body {
  text-align: center;
  font-size: 150%;
}

input {
  margin: 5px;
  padding: 5px;
  font-size: 16px;
  border-width: 2px;
  border-color: #84c769;
  background-color: #ffffff;
  color: #000000;
  border-style: outset;
  border-radius: 12px;
  box-shadow: 0px 0px 8px rgba(20,165,72,.75);
  text-shadow: -50px 0px 0px rgba(66,66,66,.0);
}

input:focus {
  outline: none;
}

button {
  margin: 10px;
  -moz-box-shadow: inset 0px 1px 0px 0px #a4e271;
  -webkit-box-shadow: inset 0px 1px 0px 0px #a4e271;
  box-shadow: inset 0px 1px 0px 0px #a4e271;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809));
  background: -moz-linear-gradient(top, #89c403 5%, #77a809 100%);
  background: -webkit-linear-gradient(top, #89c403 5%, #77a809 100%);
  background: -o-linear-gradient(top, #89c403 5%, #77a809 100%);
  background: -ms-linear-gradient(top, #89c403 5%, #77a809 100%);
  background: linear-gradient(to bottom, #89c403 5%, #77a809 100%);
  background-color: #89c403;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #74b807;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 15px 40px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528009;
}

button:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77a809), color-stop(1, #89c403));
  background: -moz-linear-gradient(top, #77a809 5%, #89c403 100%);
  background: -webkit-linear-gradient(top, #77a809 5%, #89c403 100%);
  background: -o-linear-gradient(top, #77a809 5%, #89c403 100%);
  background: -ms-linear-gradient(top, #77a809 5%, #89c403 100%);
  background: linear-gradient(to bottom, #77a809 5%, #89c403 100%);
  background-color: #77a809;
}

button:active {
  position: relative;
  top: 1px;
}

table {
  background-color: #FFFFFF;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #1F7515;
  border-style: solid;
  color: #000000;
}

table td, table th {
  border-width: 2px;
  border-color: #1F7515;
  border-style: solid;
  padding: 5px;
}

table td:hover, table th:hover {
  background-color: lightgreen;
}

table thead {
  background-color: #84BD04;
}

.matrices {
  text-align: -webkit-center;
}

.columns {
  display: flex;
  justify-content: space-around;
}
